.Frame-625222 {
  position: absolute;
  width: 790px;
  height: 128px;
  left: 224px;
  top: 156px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-2 {
  position: absolute;
  width: 162px;
  height: 36px;
  left: 224px;
  top: 104px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #ff7506;
}
.Rectangle-3463117 {
  width: 186px;
  height: 120px;

  background: #ffffff;
  border-radius: 10px;
}
.Group-625207 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 12px;
  margin-top: 8px;

  width: 132.27px;
  height: 48px;
}
.text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: #535261;
  margin: auto 0;
}
.info {
  width: 72px;
  height: 36px;

  float: right;
}
.Vector-img {
  width: 48px;
  height: 48px;
  color: #ff7506;
}
.value {
  width: 108px;
  height: 45px;

  margin-left: 12px;
  margin-top: 10px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;

  color: #535261;
}
.Rectangle-3463121 {
  width: 48px;
  height: 14.98px;

  background: rgba(255, 149, 1, 0.15);
  border-radius: 7.18115px;
}
.two-value {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 60px;
}
.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  left: 224px;
  top: 296px;

  width: 791px;
  height: 494px;

  background: #ffffff;
  border-radius: 12px;
}
.Bảng-thống-kê-theo-ngày {
  position: absolute;
  left: 3.03%;
  right: 67.64%;
  top: 4.96%;
  bottom: 88.84%;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  margin: 0;
}
.month-year {
  position: absolute;
  left: 3.03%;
  right: 84.45%;
  top: 11.98%;
  bottom: 83.68%;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #a9a9b0;

  width: 119px;
  height: 21px;

  margin: 0;
}
.Frame-625193 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 73.7%;
  right: 3.03%;
  top: 4.96%;
  bottom: 86.36%;
}
.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;

  position: static;
  left: 42.39%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;

  border: 1.5px solid #d4d4d7;
  box-sizing: border-box;
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}
.total-card-1 {
  position: absolute;
  width: 401px;
  height: 810px;
  right: 0;
  top: 0;

  background: #ffffff;

  box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
  border-radius: 8px 0px 0px 8px;
}
.total-2 {
  position: absolute;
  left: 24px;
  top: 104px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #ff7506;
}
.Frame-625202 {
  position: absolute;
  width: 353px;
  height: 83px;
  left: 24px;
  top: 156px;

  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border-radius: 12px;
}
.Group-625204 {
  position: absolute;
  width: 67px;
  height: 54px;
  left: 88px;
  top: 14px;
}
.total-number {
  position: absolute;
  width: 64px;
  height: 36px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;

  color: #535261;
}
.total-number-bottom {
  display: flex;

  position: absolute;
  bottom: 0;
}
.total-img {
  width: 14px;
  height: 14px;
}
p {
  margin: 0 0 0 0;
}
.Group-625205 {
  position: absolute;
  width: 145px;
  height: 47px;
  left: 192px;
  top: 18px;
}
.date-picker {
  position: absolute;
  width: 353px;
  height: 336px;
  left: 24px;
  top: 445px;

  background: #ffffff;

  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border-radius: 12px;
}
.chartLine {
  width: 738.73px;
  height: 373px;

  position: absolute;
  top: 80px;
  left: 21px;
}
.unactive-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;

  color: #7e7d88;
}
.bull {
  width: 10px;
  height: 10px;
}
