input[type="date"] {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 150px;
  height: 44px;
  top: 28px;

  background: #ffffff;

  border: 1.5px solid #d4d4d7;
  box-sizing: border-box;
  border-radius: 8px;
}
::-webkit-calendar-picker-indicator {
  background: url(/public/img/calendar.png) no-repeat;
}
.Group-337 {
  position: absolute;
  top: 304px;
  left: 24px;
}
.Group-338 {
  display: flex;
  flex-direction: row;
}
.input-Group-338 {
  width: 61px;
  height: 44px;

  border: 1.5px solid #d4d4d7;
  box-sizing: border-box;
  border-radius: 8px;
}
