.Title {
  position: absolute;
  left: 224px;
  top: 104px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #ff7506;
}
.formAddAccount {
  position: absolute;
  width: 1192px;
  height: 534px;
  left: 224px;
  top: 172px;

  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  .titleText {
    position: absolute;
    left: 24px;
    top: 18px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #ff7506;
  }
  .left {
    position: absolute;
    top: 66px;
    left: 24px;

    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .input {
      p {
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        display: flex;
        align-items: center;

        color: #282739;
      }
      input,
      select {
        margin-top: 8px;

        padding: 12px 10px;

        width: 560px;
        height: 44px;

        background: #ffffff;

        border: 1.5px solid #d4d4d7;
        box-sizing: border-box;
        border-radius: 8px;
      }
    }
    .notice {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;

      color: #7e7d88;
    }
  }
  .right {
    position: absolute;
    top: 66px;
    left: 608px;

    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .input {
      p {
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        display: flex;
        align-items: center;

        color: #282739;
      }
      input,
      select {
        margin-top: 8px;

        padding: 12px 10px;

        width: 560px;
        height: 44px;

        background: #ffffff;

        border: 1.5px solid #d4d4d7;
        box-sizing: border-box;
        border-radius: 8px;
      }
    }
    .notice {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;

      color: #7e7d88;
    }
  }
}
.twoBtn {
  position: absolute;
  top: 730px;
  left: 650px;

  display: flex;
  flex-direction: row;
  column-gap: 32px;
  button {
    width: 147px;
    height: 48px;

    border: 1.5px solid #ff9138;
    box-sizing: border-box;

    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px;
    span {
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
  }
}