.Desc {
  position: absolute;
  width: 1112px;
  height: 604px;
  left: 224px;
  top: 156px;

  background: #ffffff;

  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}
.Group-625230 {
  display: flex;
  flex-direction: row;

  position: absolute;
  width: 178px;
  height: 24px;
}
.lable-text-desc {
  position: absolute;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}
.text-desc {
  position: absolute;
  left: 124px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #535261;
}
