.Group-319 {
  position: absolute;
  width: 300px;
  height: 72px;
  left: 224px;
  top: 156px;
}
.Group-320 {
  position: absolute;
  width: 320px;
  height: 72px;
  left: 548px;
  top: 156px;
}
.Group-318 {
  position: absolute;
  width: 300px;
  height: 72px;
  left: 1036px;
  top: 156px;
}
table {
  position: absolute;
  width: 1112px;
  left: 224px;
  top: 244px;
}
th {
  width: 171px;
  height: 49px;
  background: #ff9138;
}
.tb-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  width: 140px;
  height: 21px;
}
.th-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  left: 8px;
  top: 12.5px;
  color: white;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
tr {
  background: #ffffff;
}
tr:nth-child(odd) {
  background: #fff2e7;
}
.td-text {
  position: static;
  height: 21px;
  left: 16px;
  top: 14px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #535261;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.onclick-text {
  text-decoration: underline;
  color: #4277ff;
  cursor: pointer;
}
