.Title {
  position: absolute;
  left: 224px;
  top: 104px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #ff7506;
}
.searchRole {
  position: absolute;
  left: 224px;
  top: 156px;
  p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #282739;
  }
  select {
    margin-top: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;

    width: 300px;
    height: 44px;

    border: 1.5px solid #d4d4d7;
    box-sizing: border-box;
    border-radius: 8px;
  }
}
.searchKey {
  position: absolute;
  left: 1036px;
  top: 156px;
  p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #282739;
  }
  input {
    margin-top: 4px;
    padding: 11px 32px 11px 12px;

    width: 300px;
    height: 44px;

    border: 1.5px solid #d4d4d7;
    box-sizing: border-box;
    border-radius: 8px;
  }
  label {
    position: absolute;
    left: 268.5px;
    top: 40px;

    z-index: 1;
    width: 20px;
    height: 20px;

    flex: none;
  }
}
table {
  th:first-child {
    border-top-left-radius: 10px;
  }
  th:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child{
    td:last-child{
      border-bottom-right-radius: 10px
    }
  }
  tr:last-child{
    td:first-child{
      border-bottom-left-radius: 10px
    }
  }

  .thText {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #ffffff;
  }
  p {
    text-align: left;
    padding-left: 12px;
  }
  .onClickText {
    color: #4277ff;
    text-decoration: underline;
    cursor: pointer;
  }
  tr {
    td {
      height: 49px;
    }
    .status {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding-left: 17px;
    }
  }
}
